@model Gruppe6_Kartverket.Mvc.Models.UserPageModel

@section HeadContent {
<!-- Link til CSS-filen -->
<link rel="stylesheet" href="~/css/login.css">
}

<div class="sidebar">
    <a href="@Url.Action("Map", "Map")">Go to map/Register a new case</a>
    <a href="@Url.Action("Profile", "UserPage")">Profile information</a>
    <a href="@Url.Action("Settings", "UserPage")">Settings</a>
    <a href="@Url.Action("Logout", "UserPage")">Log out</a>
</div>

<div class="content">
    <h2>@Model.UserName's Inbox</h2>
    <div class="inbox-header">
        <span>User</span>
        <span>User-Id</span>
        <span>Registration-date</span>
        <span>Issue-type</span>
        <span>Description</span>
    </div>
    @foreach (var userCase in Model.Cases)
    {
    <div class="inbox-item">
        <span>@Model.UserName</span>
        <span>@Model.UserId</span>
        <span>@Model.RegistrationDate.ToShortDateString()</span>
        <span>@userCase.IssueType</span>
        <span>@userCase.Description</span>
    </div>
    }
</div>   
