@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<p>@Model.Message</p>
<div id="map">
    <div class="map-buttons">
        <button class="map-button" data-select="LineString">Lin</button>
        <button class="map-button" data-select="Point">Poi</button>
        <button class="map-button" data-select="Polygon">Pol</button>
        <button class="map-button" data-select="Circle">Cir</button>
    </div>
</div>
<div style="display: none;">
    <div id="popup"></div>
</div>
<div class="row">
    <div class="col-auto">
        <span class="input-group">
            <label class="input-group-text" for="type">Geometry type:</label>
            <select class="form-select" id="type">
                <option value="None">None</option>
                <option value="LineString">LineString</option>
                <option value="Polygon">Polygon</option>
                <option value="Circle">Circle</option>
                <option value="Point">Point</option>
            </select>
        </span>
    </div>
</div>
<form asp-controller="Home" asp-action="Index" method="post" id="mapInputForm">
    @Html.ValidationSummary()
    @Html.DisplayNameFor(x => x.NewMessage)
    @Html.ValidationMessageFor(x => x.NewMessage)
    @Html.TextBoxFor(x => x.NewMessage, new { @class = "form-control" })

    @Html.HiddenFor(x => x.Hidden, new { @id = "hiddenField" })
    <input type="button" value="Send" onclick="submitForm()"/>
</form>

@section Scripts {
    <script type="module" src="~/js/map.js"></script>
    <script type="module">
        import { submitForm } from './../js/map.js';
        window.submitForm = submitForm; // Make the function accessible in the global scope
    </script>
}