@model Gruppe6_Kartverket.Mvc.Models.ViewModels.CaseDetailsViewModel


@{
ViewData["Title"] = "CaseInfo";
}

@section HeadContent {
<link rel="stylesheet" href="~/css/caseInfoPage.css" xmlns="http://www.w3.org/1999/html">
}


<div class="Case-View-container">
    <div class="caseInfo-container">
        <div class="status-box">
            <label>Status:</label>
            <div class="status-display status-color">
                @Model.CaseStatus
            </div> 
        </div>
        <div class="title-box">
            <label>Tittel:</label>
            <p>@Model.CaseTitle</p>
        </div>
        <div class="location-box">
            <label>Sted:</label>
            <p>@Model.CaseLocation?.Municipality @Model.CaseLocation?.County</p>
        </div>
        <div class="issueType-box">
            <label>Sakstype:</label>
            <p>@Model.CaseIssueType</p>
        </div>
        <div class="description-box">
            <label>Beskrivelse:</label>
            <p>@Model.CaseDescription</p>
        </div>
        <div class="map-box">
            <label>Kart:</label>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.querySelectorAll('.status-color').forEach(element => {
                const statusValue = element.innerText.trim();
                if (statusValue === "Open") {
                    element.style.backgroundColor = "rgba(21,102,48,0.74)";
                } else if (statusValue === "Closed") {
                    element.style.backgroundColor = "rgba(207,0,0,0.74)";
                } else if (statusValue === "InProgress") {
                    element.style.backgroundColor = "#FFDD9D";
                }
            });
        });
    </script>
}

