@model Gruppe6_Kartverket.Mvc.Models.Database.CaseRecord

@{
ViewData["Title"] = "CaseInfo";
}

@section HeadContent {
    <link rel="stylesheet" href="~/css/caseInfoPage.css">
}


<div class="Case-View-container">
    <div class="caseInfo-container">
        <div class="status-box">
            <label>Status:</label>
            <div class="status-display status-color">
                InProgress <!-- Placeholder for testing -->
                @Model.CaseStatus
            </div> <!-- 123 Have an if(usertype == caseWorker) {caseworker can edit status} -->
        </div>
        <div class="title-box">
            <label>Title:</label>
            <p>@Model.CaseTitle</p>
        </div>
        <div class="location-box">
            <label>Location:</label>
            <p>@Model.CaseLocation?.Municipality @Model.CaseLocation?.County</p>
        </div>
        <div class="issueType-box">
            <label>Issue Type:</label>
            <p>@Model.CaseIssueType</p>
        </div>
        <div class="description-box">
            <label>Description:</label>
            <p>@Model.CaseDescription</p>
        </div>
        <div class="map-box">
            <label>Map:</label>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.querySelectorAll('.status-color').forEach(element => {
                const statusValue = element.innerText.trim();
                if (statusValue === "Open") {
                    element.style.backgroundColor = "rgba(21,102,48,0.74)";
                } else if (statusValue === "Closed") {
                    element.style.backgroundColor = "rgba(207,0,0,0.74)";
                } else if (statusValue === "InProgress") {
                    element.style.backgroundColor = "#FFDD9D";
                }
            });
        });
    </script>
}

